<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container-pg">
        <div class="c-img">
            <img src="<%=img%>" alt="Weather">
        </div>
        <div class="c-descr">
            <h2>The weather in <%=name%> feels like.</h2>
            <p>Tempreture : <%=t%>.</p>
            <p>Wind is blowing with a speed of <%=s%>.</p>
            <p>The humidity level is <%=hum%>.</p>
            <p>Overall the weather is <%=desc%>.</p>
        </div>
    </div>
</body>
</html>